
body {
	background-image: url('assets/restaurant.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	font-family: 'Courgette', cursive;
	color: white;
	font-size: 48px;
}

p {
	font-size: 30px;
}
hr {
	border-color: white;
}
h2 {
	font-size: 23px;
}